@{
    ViewData["Title"] = "Room Page";
}
@model List<Room>

<div class="text-center">
    <h1 class="display-4">Welcome to room page</h1>
    <br />
    <hr />
    <h3>Total price: @ViewBag.TotalPrice</h3>
    <br />
    <table class="table">
    <thead>
        <tr><th>ID</th><th>Type</th><th>Number</th><th>Price</th><th>Actions</th></tr>
    </thead>
    <tbody>
            @foreach (var room in Model)
            {
                <tr>
                    <td>@room.ID</td>
                    <td>@room.Type</td>
                    <td>@room.Number</td>
                    <td>@room.Price</td>
                    <td>
                        <a asp-action="CreateEditRoom" asp-route-id="@room.ID">Edit</a>
                        <a asp-action="DeleteRoom" asp-route-id="@room.ID">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
</div>


